<!--Footer-->
<footer class="page-footer stylish-color-dark">

  <!--Footer Links-->
  <div class="container">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

          <!--First column-->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="title mb-4 font-bold">Complejo Lautaro</h6>
              <p>Nuestra principal función es el beneficio de las personas que gustan de hacer deporte en forma sana, tranquila y segura, además de poder ofrecerles un mejor servicio e instalaciones.</p>
          </div>
          <!--/.First column-->

          <hr class="w-100 clearfix d-md-none">

          <!--Second column-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="title mb-4 font-bold">Navegacion</h6>
              <p><a href="#!" [routerLink]="['/home']">Home</a></p>
              <p><a href="#!" [routerLink]="['/complejo']">El Complejo</a></p>
              <p><a href="#!" [routerLink]="['/ubicacion']">Ubicacion Y Contacto</a></p>
              <p><a href="#!" [routerLink]="['/eventos']">Eventos</a></p>
              <p><a href="#!" [routerLink]="['/reservar']">Reservar</a></p>
          </div>
          <!--/.Second column-->

          <hr class="w-100 clearfix d-md-none">

          <!--Third column-->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="title mb-4 font-bold">Contacto</h6>
            <p><i class="fa fa-home mr-3"></i> Chile</p>
            <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
          <!--/.Third column-->

          <hr class="w-100 clearfix d-md-none">

      </div>
      <!-- Footer links -->

      <hr>

      <div class="row py-3 d-flex align-items-center">

          <!--Grid column-->
          <div class="col-md-8 col-lg-9">

              <!--Copyright-->
              <p class="text-center text-md-left grey-text">© 2018 Copyright: <a href="#!"><strong>Conectanddo</strong></a></p>
              <!--/.Copyright-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 col-lg-3 ml-lg-0">

              <!--Social buttons-->
              <div class="social-section text-center text-md-left">
                  <ul>
                      <li><a class="btn-floating btn-sm rgba-white-slight mr-xl-4"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="btn-floating btn-sm rgba-white-slight mr-xl-4"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="btn-floating btn-sm rgba-white-slight mr-xl-4"><i class="fa fa-google-plus"></i></a></li>
                      <li><a class="btn-floating btn-sm rgba-white-slight mr-xl-4"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
              </div>
              <!--/.Social buttons-->

          </div>
          <!--Grid column-->

      </div>

  </div>

</footer>
<!--/.Footer-->