<div class="container-fluid">
    <div class="row coords">
        <div class="col">
            <div class="iframe-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14627.77168450342!2d-70.3839021!3d-23.5704934!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2bf76635c253b64!2sCentro+Deportivo+%26+Eventos+Lautaro+Castro!5e0!3m2!1ses-419!2sco!4v1517418418692" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <ul class="list-group">
                <li class="list-group-item active" style="background-color: rgba(1,1,1,0.7);border-color: rgba(1,1,1,0.7);">DATOS DE CONTACTO</li>
                <li class="list-group-item" style="background-color: rgba(1,1,1,0.1);color:white">552618802</li>
                <li class="list-group-item" style="background-color: rgba(1,1,1,0.1);color:white">contacto@complejolautaro.cl</li>
                <li class="list-group-item" style="background-color: rgba(1,1,1,0.1);color:white">centro.lautaro.castro@gmail.com</li>
                <li class="list-group-item" style="background-color: rgba(1,1,1,0.1);color:white">F&eacute;lix Garc&iacute;a n° 823 Casa Matriz - Antofagasta</li>
                <li class="list-group-item" style="background-color: rgba(1,1,1,0.1);color:white">F&eacute;lix Garc&iacute;a n° 769 Sucursal - Antofagasta</li>
              </ul>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="nameInput" style="color:white;">Nombre:</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="Ingrese por favor su nombre...">
                  </div>
                  <div class="form-group">
                      <label for="phoneInput" style="color:white;">Telefono:</label>
                      <input type="text" class="form-control" id="phoneInput" placeholder="Ingrese por favor su telefono...">
                    </div>
                <div class="form-group">
                  <label for="emailInput" style="color:white;">Correo:</label>
                  <input type="email" class="form-control" id="emailInput" placeholder="Ingrese por favor su correo...">
                </div>
                <div class="form-group">
                  <label for="messageInput" style="color:white;">Mensaje:</label>
                  <textarea class="form-control" id="messageInput" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
          </div>
    </div>
</div>
