<aside id="sidebar" class="nano">
  <div class="nano-content">
    <div class="logo-container">
      <span class="logo glyphicon glyphicon-envelope"></span>Shoppu</div>
    <div class="separator"></div>
    <menu class="menu-segment">
      <ul>
        <li class="active">
          <a href="#">Mesas</a>
        </li>
        <li>
          <a href="#">Stock</a>
        </li>
        <li>
          <a href="#">Contabilidad</a>
        </li>
        <li>
          <a href="#">Equipo</a>
        </li>
        <li>
          <a href="#">Configuracion</a>
        </li>
      </ul>
    </menu>
    <div class="separator"></div>
    <div class="bottom-padding"></div>
  </div>
</aside>
