<div class="container-fluid">
  <div class="row bcklgn">
<form class="loginfrm">
  <div class="form-group">
    <label for="exampleInputEmail1" style="color:white">Correo:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" style="color:white">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su password">
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
</div>
</div>