<main id="main">
  <div class="overlay"></div>
  <header class="header">
    <div class="search-box">
      <input placeholder="Search...">
      <span class="icon glyphicon glyphicon-search"></span>
    </div>
    <h1 class="page-title">
      <a class="sidebar-toggle-btn trigger-toggle-sidebar">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line line-angle1"></span>
        <span class="line line-angle2"></span>
      </a>Mesas
      <a>
        <span class="icon glyphicon glyphicon-chevron-down"></span>
      </a>
    </h1>
  </header>
  <div id="main-nano-wrapper" class="nano">
    <div class="nano-content">
      <div class="row tablerows">
        <div class="col-sm" *ngFor="let tbl of tables | paginate: { itemsPerPage: 3, currentPage: p }">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{tbl.name}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">Capacidad: {{tbl.capacity}}</h6>
              <p class="card-text">{{tbl.description}}</p>
              <a href="#" class="card-link" (click)="onSelect(tbl)">Abrir la mesa</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="separator"></div>
        <div class="container" style="margin-top: 4%;" align="center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</main>

<div id="message" class="onSelectedTable" *ngIf="selectedTable">
  <div class="header">
    <h1 class="page-title">
      <a class="icon circle-icon glyphicon glyphicon-chevron-left trigger-message-close"></a>{{ selectedTable.name }}</h1>
    <h6 class="card-subtitle mb-2 text-muted">Capacidad: {{selectedTable.capacity}}</h6>
  </div>
  <div id="message-nano-wrapper" class="nano">
    <div class="nano-content">
      <ul class="message-container">
        <div>
          <div class="container">
            <div class="row">
              <div class="col float-right">
                <div class="col-sm">
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <p class="card-text">{{selectedTable.description}}</p>
                      <a href="#" id="onCloseTable" class="card-link" (click)="onSelect(tbl)">Cerrar la mesa</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
