body,
html { 
  background: url('/assets/images/header.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bannerStyle{
  height: 100%;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ngx-carousel .ngxcarouselPointDefault {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
ngx-carousel .ngxcarouselPoint li {
  transform: scale(1);
}

ngx-carousel  button {
  opacity: 0.5;
  border: none;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 999%;
  margin: auto;
}

.jumbotron{
  margin-top: 8em;
  background-color: rgba(1,1,1,0.5);
}

.navbar{
  background-color: rgba(1,1,1,0.5);
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.788);
}

.coords{
  margin-top: 8em;
  background-color: rgba(1,1,1,0.5);
}