<div class="container-fluid">
        <div class="divCarousel" style="width: 100%;height: 100%;text-align:center;">
          <ngx-carousel class="banner" [inputs]="carouselBanner" style="display: list-item; margin-top: 8em;">
              <ngx-item NgxCarouselItem *ngFor="let tile of sldrs; let i = index;" style="height: 37em;">
                  <div class="bannerStyle" [style.background]="'url(' + tile.photo + ')'">
                    <div>
                      <h1>{{tile.message | uppercase}}</h1>
                    </div>
                  </div>
              </ngx-item>
              <button NgxCarouselPrev class="leftRs">&lt;</button>
              <button NgxCarouselNext class="rightRs" style="margin-left: 96%;">&gt;</button>
          </ngx-carousel>
        </div>
      </div>